body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: linear-gradient(to right, #4CAF50, #81C784);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h2 {
    color: #388E3C; /* Verde mais escuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.whatsapp-button {
    display: inline-block;
    background: #25D366; /* Verde do WhatsApp */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 20px 0;
    transition: background 0.3s;
}

.whatsapp-button:hover {
    background: #128C7E; /* Verde mais escuro ao passar o mouse */
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
